
@using SmartRoutes

<div class="sr-child-info-view">
    @* The actual form. *@
    <div class="sr-child-info">
        <div class="">
            <input type="text" class="form-control sr-editbox" placeholder="Name (optional)" data-bind="value: name" />
            <select data-bind="value: ageGroup">
                <option value="@Resources.AgeGroupInfantName">@Resources.AgeGroupInfantName</option>
                <option value="@Resources.AgeGroupYoungToddlerName">@Resources.AgeGroupYoungToddlerName</option>
                <option value="@Resources.AgeGroupOlderToddlerName">@Resources.AgeGroupOlderToddlerName</option>
                <option value="@Resources.AgeGroupPreschoolerName">@Resources.AgeGroupPreschoolerName</option>
                <option value="@Resources.AgeGroupSchoolAgeName">@Resources.AgeGroupSchoolAgeName</option>
            </select>
        </div>
    </div>

    @* The separator and expansion button. *@
    <div class="sr-child-info-section-separator">
        <hr class="sr-child-info-separator" />
        <button class="btn btn-default sr-expansion-button" >
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button class="btn btn-default sr-collapse-button">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
    </div>
</div>
