
<div id="sr-guided-search-form-view">
    
    <div id="sr-guided-search-form-page-container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                @Html.Partial("~/Views/Search/_ChildInformationFormPageView.cshtml")

                @Html.Partial("~/Views/Search/_ScheduleTypeFormPageView.cshtml")

                @Html.Partial("~/Views/Search/_LocationAndTimeFormPageView.cshtml")

                @Html.Partial("~/Views/Search/_AccreditationFormPageView.cshtml")

                @Html.Partial("~/Views/Search/_ServiceTypeFormPageView.cshtml")
            </div>
        </div>
    </div>

    <div class="row">
        @* TODO: These buttons should be blue. *@
        <div class="col-lg-1 col-lg-offset-1 sr-guided-search-button-container">
            <button class="btn btn-default sr-guided-search-button" id="sr-guided-search-button-previous">&lt; Previous</button>
        </div>
        <div class="col-lg-1 col-lg-offset-2">
            <button class="btn btn-default sr-guided-search-button" id="sr-guided-search-button-return-results">Return to Results</button>
        </div>
        <div class="col-lg-1 col-lg-offset-3">
            <button class="btn btn-default sr-guided-search-button" id="sr-guided-search-button-next">Next &gt;</button>
        </div>
    </div>
</div>