@inherits Parsers.Support.DayCampTemplate
<div id="PageContent">
    <table>
        <tr><td>Number:                  @Model.ExternalId</td></tr>
        <tr><td>Name:                    @Model.Name</td></tr>
        <tr><td>Address:                 @Model.Address</td></tr>
        <tr><td>City:                    @Model.City</td></tr>
        <tr><td>State:                   @Model.State</td></tr>
        <tr><td>Zip:                     @Model.ZipCode</td></tr>
        <tr><td>Registration Status:     @Model.RegistrationStatus</td></tr>
        <tr><td>Owner:                   @Model.Owner</td></tr>
        <tr><td>County:                  @Model.County</td></tr>
        <tr><td>Registration Begin Date: @Model.RegistrationBeginDate</td></tr>
        <tr><td>Registration End Date:   @Model.RegistrationEndDate</td></tr>
        <tr><td>Phone:                   @Model.PhoneNumber</td></tr>
    </table>
</div>