
@model SmartRoutes.Models.ImageViewModel

<div class="sr-image-view-container">
    <img class="sr-image-view @Model.Class" src="@Model.ImageSource" alt="@Model.AltText" title="@Model.TitleText" id="@Model.ID">
</div>