<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="sr-background">
        <div class="container">
            <div class="row">
                @Html.Partial("_TopBannerView")
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div id="sr-content-view-spacer-top" />
                </div>
            </div>

            @RenderBody()

            <div class="row">
                <div class="col-lg-12">
                    <div id="sr-content-view-spacer-bottom" />
                </div>
            </div>

            <div class="row">
                @Html.Partial("_BottomBannerView")
            </div>
        </div>
    </div>

    <div>
        @Html.Partial("~/Views/Templates/_Templates.cshtml")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/routing")
    @Scripts.Render("~/bundles/handlebars")
    @Scripts.Render("~/bundles/leaflet")
    @Scripts.Render("~/bundles/smartroutes")
</body>
</html>
